<style>
    body {
        margin:0;
        }  
    a {
         color:black;
         text-decoration:none;
        }
            
    h1 {
        border-bottom: 1px solid gray;
        font-size:80px;
        text-align:center;
        margin:0;
        padding:20px;
        }
    #grid ol {
        border-right : 1px solid gray;
        width:100px;
        margin:0;
        padding:20px;
        padding-left:33px;
        }
    ol {
        border-right : 1px solid gray;
        width:100px;
        margin:0;
        padding:20px;
        }
    #grid {
        display: grid;
        grid-template-columns:150px 1fr;
        }
    #article {
        padding-left:25px;
        }
    @media(max-width:800px) {
        #grid {
            display: block;
            }
        #grid ol {
            border-right : none;
            }
        h1 {
            border-bottom: none;
            }
        }
</style>